<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Json Value Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>

    <h1 class="text-center"><i class="fa fa-globe" aria-hidden="true"></i> Domain: exemple.io</h1>
    <h4 class="text-center"><i class="fa fa-server" aria-hidden="true"></i> IP: 192.168.1.1</h4>
    <div id="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
            <div class="box">
              <h2 class="text-center">Índice de informações obtidas</h2>
              <p>
                <ul>
                    <li><a href="files.html" class="lists">Arquivos encontrados: 10000</a></li>
                    <li><a href="emails.html" class="lists">Emails encontrados: 10000</a></li>
                    <li><a href="lattes.html" class="lists">Lattes encontrados: 10000</a></li>
                    <li><a href="imgs.html" class="lists">Imagens encontrados: 10000</a></li>
                </ul>
                <div class="text-center">
                  Lista de endereços
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
